<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Edit Camp: </h1>

            <div style="width: 30%; margin: 20px auto">
                <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST">
                    <input class="form-control" type="text" value="<%= camp.name %>" name="campg[name]">
                    <input class="form-control" type="text" value="<%= camp.image %>" name="campg[image]">
                    <textarea class="form-control" cols="30" rows="10" name="campg[description]"><%= camp.description %></textarea>
                    <button class="btn btn-default btn-block">Send!</button>
                </form>
                <a href="/campgrounds/<%= camp._id %>">Back</a>

            </div>

        </div>
    </div>

<% include ../partials/footer %>
